{% load static %}
<link rel="stylesheet"  href="{%  static  'css/tailwind.css'  %}">
<link rel="stylesheet"  href="{%  static  'css/custom.css'  %}">
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Detail View</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		 
   
     <script src="https://d3js.org/d3.v5.min.js"></script>
     <script src="https://d3js.org/d3.v6.js"></script>
      {% comment %} <script src="https://d3js.org/d3.v4.min.js"></script> {% endcomment %}
      {% comment %} <script src="https://d3js.org/d3.v4.min.js"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/d3-fetch@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
    {% include "./components/navbar.html" %}
	<body  style="background-color: #131428; " class="leading-normal tracking-normal">
    
  <div class="container p-4"> 
  <div class="flex justify-between ">
<div> 
  <a href="/">
  <button  class=" hover:bg-blue-700 bg-white text-black font-bold  px-8 py-4 rounded">

    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
    
  </button>
</a>
</div>
<div> 
  <button type="submit" class=" hover:bg-blue-700 bg-white text-black font-bold  px-8 py-4 rounded" onclick="toggleModal('modal-id')">
    Upload Script
  </button>
</div>
</div>
<div class="flex ">
    <img class="ml-8 " style="width:50px; height:50px;" src="{% static 'images/stocks/' %}{{stock.logo}}" />
  <div class="ml-8">
  <h1 class="text-white text-5xl">{{stock.companyName}} </h1>
  <p class="text-white mt-2">Ticker: {{amount}} {{stock.ticker}}</p>
  <h1 class="text-white text-5xl">${{stock.mostRecentPrice}}</h1>
  </div>
</div>

<div  class="flex flex-col justify-center ">
  

<div id="my_dataviz"></div>  
  <script>

// set the dimensions and margins of the graph

</script>

      
		</div>
    <div class="flex justify-between"> 
      <ul class="flex">
        <li class="text-white mx-2 cursor-pointer">1M</li>
        <li class="text-white mx-2 cursor-pointer">1Y</li>
        <li class="text-white mx-2 cursor-pointer">2Y</li>
      </ul>
    
    </div>
    </div>
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
        My Algorithms
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
     {% if not scripts %}
    <div class="flex justify-center items-center flex-col "> 
    <p class="text-white text-2xl">There are no task entries to display.</p>
    <a href="/build">
    <button  class="bg-blue-500 mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Build Script
        </button>
    </a>
    </div>
    {% else %}
            <div class="container mt-4 mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for script in scripts %}
        <a >
        <div id="myElement{{script.id}}" onclick="changeStyle('myElement{{script.id}}',{{script.id}})" class="card m-2 cursor-pointer border bg-white border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-black">{{script.title}}
         <span class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">{{script.snippet}}</p>
        </div>
      </div>
    </a>
      {% endfor %}
    </div>
  </div>

 {% endif %}
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Close
        </button>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" onclick="testAlgo()">
        Upload Script
        </button>
       
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
    
        {% include "./components/footer.html" %}
<style> 
  .axisRed line{
  stroke: white;
}

.axisRed path{
  stroke: white;
}

.axisRed text{
  fill: white;
}
.listening-rect {
  fill: transparent;
}
</style>
        <script> 
          let stockPrices = []
          {% for price in prices %}  
          price = {
            "close" : {{price.close}},
            "day": {{price.day}},
            "month": {{price.month}},
            "year": {{price.year}}
          }
          stockPrices.push(price)
          {% endfor %} 
          
         
      const margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 1000 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);

           


  // When reading the csv, I must format variables:
  function formatTheData(d) {
    return { 
    date : d.day, 
    value : d.close 
    }
  }
  // Now I can use this dataset:
  function  plotData(data) {
    // Add X axis --> it is a date format
    const x = d3.scaleTime()
      .domain(d3.extent(data, 
      function(d) { 
      let createDateString = d.year + '-' + d.month + '-' + d.day
      let d3date =  d3.timeParse("%Y-%m-%d")(createDateString)
      console.log( " d3 date",d3date)
        console.log("setting x")
        return d3date; 
        return d.month; 
      }))
      .range([ 0, width ]);
    svg.append("g")
      .attr("transform", `translate(0, ${height})`)
      .attr("class", "axisRed")
      .call(d3.axisBottom(x));
    // Add Y axis
    const y = d3.scaleLinear()
      .domain([0, d3.max(data, 
      function(d) { 
        
        return +d.close; })])
      .range([ height, 0 ]);
    svg.append("g")
    .attr("class", "axisRed")
      .call(d3.axisLeft(y));

    // Add the line
    svg.append("path")
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "red")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .x(function(d) { 
          
       let createDateString = d.year + '-' + d.month + '-' + d.day
      let d3date =  d3.timeParse("%Y-%m-%d")(createDateString)
      console.log( " d3 date",d3date)
        //return date; 
          return x(
          d3date
           // d.day
            
            ) })
        .y(function(d) { return y(d.close) })
        )
    }

  plotData(stockPrices)

  function onMouseMove() {
    console.log("mousemove")
  }

  function onMouseLeave() {
    console.log("on mouse leave")
  }
  function onMouseOver() {
    console.log("mouse over")
  }

  const listeningRect = svg
    .append("rect")
    .attr("class", "listening-rect")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .on("mousemove", onMouseMove)
     .on('mouseover', onMouseOver)
    .on("mouseleave", onMouseLeave);

    const xAxisLine = svg
    .append("g")
    .append("rect")
    .attr("class", "dotted")
    .attr("stroke-width", "1px")
    .attr("width", ".5px")
    .attr("height", height + margin.top + margin.bottom);

    console.log("still working")
        </script>



    <script>
      let algoToggled = null;

       function changeStyle(divToChange,id){
         let amount = {{scriptsAmount}}
       //  for(let i=1; i <= amount;i++){
      //     console.log("myElement"+ i)
       //   var miso = document.getElementById("myElement"+ i)
      //    miso.style.borderColor = "none";
      //  }
        var element = document.getElementById(divToChange);
        element.style.borderColor = "red";
        algoToggled = id;
        console.log("algoToggled ",id) 
        
    }

 function testAlgo(){
   console.log("sending Test Algo")
   if (algoToggled != null){
      $(document).ready(function () {
    $.ajax({
      type: "POST",
      url: "/detail/{{stock.id}}/",
      data: {
        'algoId': algoToggled, 
      },
      success: function () {
        console.log("Success")
       // $('#message').html("<h2>Contact Form Submitted!</h2>")
      }
    });
    return false; //<---- move it here
});
   }
}



      


{% comment %} toggle model function   {% endcomment %}
 function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }



    </script>
      
	</body>
</html>


